.home-content {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 10rem 0;
    background: url('#{$bgHome}');
    background: url('#{$bgHome}');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-color: #980415;

    h1 {
        font-size: 70px;
        line-height: 75px;
        margin-bottom: 2rem;
        font-weight: bolder;
        font-family: goboldregular;
        letter-spacing: 1px;
        text-shadow: #49043F 6px 5px 1px;
    }
    
    h1,
    p {
        color: $white;
    }
    p {
        font-size: 1.7rem;
    }
    a {
        @extend .btn;
        @extend .btn-primary;
        margin: 2rem 0.5rem 1rem 0.5rem;
        border: 1px #EDAE3B solid;
    }
    .main-text{
        // font-weight: bold;
        background-color: rgba(0,0,0,0.2);
        padding: 20px;
        border-radius: 1em;
        text-shadow: black 0 0 5px;
        box-shadow: 0 0 50px rgba(0,0,0,0.4);
    }
}

.invisible-node {
    opacity: 0;
}

.home-mg-iframe {
    margin-top: -83px;
}

@media (min-width: 992px) {
    .home-content {
        height: 100vh;
        padding: 0;
    }
}

@media (max-width: 767px) {
    .home-content {

        h1 {
            font-size: 60px;
            line-height: 65px;
        }
        p {
            font-size: 1.4rem;
        }
    }
}